/*
hex_color
first a # dita hoy
 0-9
 A-F
 */
#hex_color{
    color: #3498db;
}

/*
 rgb_color 
 first a rgb thakta hobe er pore ()
*/

#rgb_color{
    color: rgb(255, 99, 71);
}
/* 
hsl_color
hue:0-360% 
saturation: 0-100%
lightness :0-100%
*/
#hsl_color{
    color: hsl(322, 100%, 48%);
}

.heading{
    color: #ff68ff;
}

.example_content{
    background-color: rgb(255, 99, 71);
    padding: 10px;
    color: #ffffff;
}

.bg_banner{
    background-image: url("../images/bgimg.jpg");
    background-size: cover;
    background-position: center;
    height: 450px;
    padding: 20px;
}